<nav class="blue-grey" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">[word]:[wad]</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/newStory">Create Wad</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/create">New User</a></li>
      <li><a href="/browseWads">Browse</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="/newStory">Create Wad</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/create">New User</a></li>
      <li><a href="/browseWads">Browse</a></li>
      {{!-- not sure what needs this needs to link to --}}
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    {{!-- not sure about this too --}}
  </div>
</nav>
<div class="section no-pad-bot grey darken-3" id="index-banner">
  <div class="container">
    <div class="row center">
      <h4 class="white-text">[new]:[user]</h4>
    </div>
    <br><br>
    <div class="row">
      <form id = "newUserForm" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate white-text">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate white-text">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="userName" type="text" class="validate white-text">
            <label for="userName">User Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate white-text">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate white-text">
            <label for="email">Email</label>
          </div>
        </div>
      <button id="newUserSubmit" class="btn waves-effect waves-light blue-grey" type="submit" name="action">Submit
        <i class="material-icons right">control_point</i>
      </button>
      </form>
    </div>
    <br><br>

  </div>
</div>

<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
        <h5 class="center white-text">[word]:[wad] © 2018</h5>
      </div>
    </div>
  </div>
</footer>
<script src="/js/newUser.js"></script>