/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* label color */
.input-field label {
  color: #ffffff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ffffff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}